@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="min-height: 500px; background-color:#FFFAFA">
    <h1 class="display-4 text-center">MAIN PAGE</h1>
    <p class="text-center"> <a href="/">Welcome to The Shop</a>.</p>
</div>
